In [2]:
import pandas as pd

In [10]:
aa = pd.DataFrame({'value':['a','b','c'],'color':['r','g','b'],'target':[0,1,0]})

In [11]:
pd.get_dummies(aa)

   target  value_a  value_b  value_c  color_b  color_g  color_r
0       0        1        0        0        0        0        1
1       1        0        1        0        0        1        0
2       0        0        0        1        1        0        0

In [12]:
aa['good'] = aa.target

In [13]:
aa['bad'] = 1-aa.target+0.00001

In [14]:
aa

  value color  target  good      bad
0     a     r       0     0  1.00001
1     b     g       1     1  0.00001
2     c     b       0     0  1.00001

In [16]:
import numpy as np

In [28]:
aa['woe'] = (aa.good/aa.bad)

In [29]:
aa

  value color  target  good      bad       woe
0     a     r       0     0  1.00001       0.0
1     b     g       1     1  0.00001  100000.0
2     c     b       0     0  1.00001       0.0

In [27]:
np.e**13.8

984609.111229035

In [34]:
np.dot(np.array([1,2]).T,np.array([1,2]))

5

In [41]:
np.matmul([[1,2],[1,2],[1,2]],[[1,2,3],[2,3,4]])

array([[ 5,  8, 11],
       [ 5,  8, 11],
       [ 5,  8, 11]])

In [52]:
np.linalg.inv(np.matmul(np.array([[1,4],[2,3]]).T,np.array([[1,4],[2,3]])))

array([[ 1. , -0.4],
       [-0.4,  0.2]])

In [24]:
1/aa.bad.iloc[1]

99999.99999999999

In [20]:
aa

  value color  target  good      bad
0     a     r       0     0  1.00001
1     b     g       1     1  0.00001
2     c     b       0     0  1.00001